// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-share-button {
  .ssb-icon {
  padding: 3px;
    background-size: 26px 26px;
    height: 26px;
    width: 26px;
  }
}

 ul li ul {
    display: none;
}