// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#category_1{
	clear: both;
	background: url(updated.jpg) no-repeat;
  	height: 170px;
	max-width: 750px;
	
	padding-left: 300px;
	box-sizing: border-box;
	box-shadow: inset -400px 0 50px 10px #F1F1F1;
}
div#category_2{
	background: url(politics.jpg) no-repeat;
	background-position: right;
  	height: 170px;
	max-width: 750px;
	
	padding-right: 300px;
	box-sizing: border-box;
	box-shadow: inset 250px 0 50px 10px #F1F1F1;
}
div#category_3{
	clear: both;
	background: url(narratives.jpg) no-repeat;
  	height: 170px;
	max-width: 750px;
	
	padding-left: 300px;
	box-sizing: border-box;
	box-shadow: inset -450px 0 50px 10px #F1F1F1;
}
div#category_4{
	background: url(Reallife.jpg) no-repeat;
	background-position: right;
  	height: 170px;
	max-width: 750px;
	
	padding-right: 300px;
	box-sizing: border-box;
	box-shadow: inset 400px 0 50px 10px #F1F1F1;
}
p.top {
    vertical-align: text-top;
}

p.politics {
	vertical-align: text-top;
}

.home-link {
	font-weight: bold;
	font-style: italic;
	color: #2F4E6C;
	border-bottom:1px dashed #2F4E6C;
	font-size: 19px;	
}
div.recent-articles {
	float: left;
	position: relative;
	max-width: 250px;
	clear: left;
}
div.alpha-inner{
	clear: left;
}

