// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#category_1{
	clear: both;
	background: url(updated.jpg) no-repeat;
  	height: 200px;
	width: 100%;
	 background-size:100%;
	display:table;
	text-align:center;
	box-sizing: border-box;
	border-radius:10px;
	margin-top: 15px;
	padding-bottom: 15px;
	margin-bottom:30px;
}

div#category_2{
	background: url(politics.jpg) no-repeat;
	background-position: right;
  	height: 200px;
	width: 100%;
	 background-size:100%;
	 display:table;
	text-align:center;
	box-sizing: border-box;
		border-radius:10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom:30px;
}
div#category_3{
	clear: both;
	background: url(narratives.jpg) no-repeat;
  	height: 200px;
	width: 100%;
	 background-size:100%;
	 display:table;
	text-align:center;
	box-sizing: border-box;
		border-radius:10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom:30px;
}
div#category_4{
	background: url(reallife3.jpg) no-repeat;
	background-position: right;
  	height: 200px;
	width:100%;
	 background-size:100%;
	 display:table;
	text-align:center;
	box-sizing: border-box;
		border-radius:10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom:30px;
	margin-top: 30px;
}
p.top {
    vertical-align: text-top;
}

a span{
	color: white; 
      letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
p.politics {
	vertical-align: text-top;
}

.home-link {
	font-weight: bold;
	font-style: italic;
	color: #2F4E6C;
	font-size: 32px;
	display: table-cell;
	vertical-align: middle;
	text-decoration-line: none;
}
div.recent-articles {
	float: left;
	position: relative;
	max-width: 250px;
	clear: left;
}
div.alpha-inner{
	clear: left;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px){
  
  div#category_1{
	clear: both;
	background: url(updated.jpg) no-repeat;
  	height: 320px;
	max-width: 460px;
	min-width: 320px;
	box-sizing: border-box;
	margin-right:13px;
}
div#category_2{
	background: url(politics.jpg) no-repeat;
	background-position: right;
  	height:320px;
	max-width: 460px;
	min-width: 320px;
	box-sizing: border-box;
	background-size:100%;
	
}
div#category_3{
	clear: both;
	background: url(narratives.jpg) no-repeat;
  	height: 320px;
	max-width: 460px;
	min-width: 320px;
	box-sizing: border-box;

}
div#category_4{
	background: url(reallife3.jpg) no-repeat;
  	height: 320px;
	max-width: 460px;
	min-width: 320px;
	box-sizing: border-box;
	display:table;
	text-align:center;
	 background-size:100%;
}
.home-link {
	font-weight: bold;
	font-style: italic;
	color: #a52121;
	font-size: 37px;
	display: table-cell;
	vertical-align: middle;
	width: 480px;
	text-decoration-line: none;
}
home-link a{
	position: relative;
}


.article_title:hover::before, .article_title:hover::after, .article_title:focus::before, .article_title:focus::after {
  color: #cf2037;
  text-decoration: none;
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.article_title::before, .article_title::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(135, 0, 17,0.1);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);

}

.article_title::after{
    width: 50px;
    height: 50px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

div.recent-articles {
	float: none;
	position: relative;
	max-width: 250px;
}
div.alpha-inner{
	clear: none;
}
a span{
	color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
}

@media (min-width: 1500px) {

	#category_1, #category_2, #category_3, #category_4 {
		min-height: 400px;
	}
}